# Ignore virtual environment
venv/
ENV/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore logs and temp files
*.log
*.tmp
